<div class="omega four columns">
  <h5><%= variant.sku %> (<%= variant.is_master? ? Spree.t(:master) : variant.options_text %>)</h5>
  <% @price_lists.each do |list| %>
    <div>
      <%= list.name %>:
      <%= variant.price_for(list).display_price %>
    </div>
  <% end %>
  <br><br>
</div>
